body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: sans-serif;
    background-color: lightblue ;
}
header
{
    background-color: #10375c;
    width: 1400px;
    height: 105px;
    position: absolute;
    position: relative;
}
a
{
    text-decoration: none;
    color: white
}
a:hover
{
    color: orange;
    cursor: pointer;
}
.FP
{
    color: white;
    font-size: 20px;;
    display: inline;
    float: left;
    margin: 0;
    padding-bottom: 35px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 35px; 
    border: .5px;
    border-style: solid;
    border-color: #7e7e7e;
    border-top: none;
    border-left: none;
    font-weight: bold;
    font-size: 30px
}
.FS
{
    color: white
}
.FS ul
{
    display: inline;
    float: left;
    margin: 0;
    padding-top: 45px;
    padding-left: 200px;
    padding-bottom: 41px;
    border: .5px;
    border-style: solid;
    border-color: #7e7e7e;
    border-top: none;
    border-left: none;
}
.FS ul li
{
    list-style-type: none;
    display: inline;
    padding-right: 40px
}
.SS
{
    display: inline;
    float: left;
    color: white;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 27px; 
    padding-left: 70px;
    padding-right: 100px;
    border: .5px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #7e7e7e
}
.TS
{
    text-align: center;
    color: white;
    font-size: 100px;
    position: absolute;
    position: relative;
    top: 190px;
}
button
{
    padding: 50px;
    margin: 70px;
    font-size: 20px;
    margin-left: 400px;
    margin-top: 200px;
    background-color: rgba(0,0,0,0.3);
    border:1px solid
}
button:hover
{
    border-radius:  70px;
}
.total
{
    display: none
}